<h2><center><span style="color:red">TP : Impl√©mentation d'un cas d'√©tude - MySQL et MongoDB , Realis√© par :  <b>Youness Bouhout</span></h2>

<h3><span style="color:green">--- Partie MySQL ---</span></h4>

#### 1. Cr√©ation des tables

In [24]:
mysql_create_tables = """
CREATE TABLE Utilisateur (
    id SERIAL PRIMARY KEY,
    nom VARCHAR(100),
    email VARCHAR(100)
);

CREATE TABLE Produit (
    id SERIAL PRIMARY KEY,
    nom VARCHAR(100),
    prix DECIMAL(10,2)
);

CREATE TABLE Achat (
    id SERIAL PRIMARY KEY,
    utilisateur_id INT REFERENCES Utilisateur(id),
    produit_id INT REFERENCES Produit(id)
);
"""

<style>
  .image-style {
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    width: 200px;
  }
</style>

<img src="capture 1.png" alt="Capture 1 " class="image-style">

### 2. Requ√™te pour afficher les commandes de l'utilisateur ID = 5

In [25]:
mysql_query_user5 = """
SELECT * FROM Achat 
JOIN Produit ON Achat.produit_id = Produit.id 
WHERE Achat.utilisateur_id = 5;
"""

<style>
  .image-style {
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    width: 200px;
  }
</style>

<img src="Capture 2.png" alt="Capture 2" class="image-style">


### 3. Exemple d'int√©grit√© r√©f√©rentielle

In [26]:
mysql_integrity = """
FOREIGN KEY (utilisateur_id) REFERENCES Utilisateur(id) ON DELETE CASCADE
"""

### 4. Structure pour plusieurs produits par commande

In [27]:
mysql_extended_structure = """
CREATE TABLE Commande (
    id SERIAL PRIMARY KEY,
    utilisateur_id INT,
    date_commande DATETIME,
    FOREIGN KEY (utilisateur_id) REFERENCES Utilisateur(id)
);

CREATE TABLE Commande_Produit (
    commande_id INT,
    produit_id INT,
    quantite INT,
    PRIMARY KEY (commande_id, produit_id),
    FOREIGN KEY (commande_id) REFERENCES Commande(id),
    FOREIGN KEY (produit_id) REFERENCES Produit(id)
);
"""

### 5. Indexation pour performance

In [28]:
mysql_indexing = """
CREATE INDEX idx_utilisateur_id ON Achat(utilisateur_id);
"""

<h3><span style="color:green">--- Partie MongoDB ---</span></h4>

#### 1. Exemple de document utilisateur

In [29]:
mongo_document = {
    "_id": 1,
    "nom": "Aya",
    "email": "aya@example.com",
    "achats": [
        {"produit_id": 1, "nom": "Chaussures", "prix": 99.99},
        {"produit_id": 2, "nom": "Sac", "prix": 135.00}
    ]
}

<style>
  .image-style {
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    width: 200px;
  }
</style>

<img src="Capture 3.png" alt="Logo stylis√©" class="image-style">

#### 2. Ajout d'un achat

In [30]:
mongo_add_achat = {
    "$push": {
        "achats": {"produit_id": 3, "nom": "Montre", "prix": 250.00}
    }
}

<h2><span style="color:red">3. Avantages de l'imbrication</span></h2>
<ul>
<li><b> - Acc√®s rapide aux donn√©es d‚Äôun utilisateur</li>
 <li><b>- Moins de jointures</li>
 <li><b>- Structure naturelle</li> </ul>

# 4. Strat√©gie si trop de commandes : d√©normalisation

In [31]:
mongo_user_ref = {
    "_id": 1,
    "nom": "Aya",
    "email": "aya@example.com",
    "achats_ids": [1001, 1002]
}
mongo_achat = {
    "_id": 1001,
    "utilisateur_id": 1,
    "produits": [
        {"produit_id": 1, "nom": "Chaussures", "prix": 99.99}
    ]
}

# 5. MongoDB permet des documents de structure diff√©rente

In [32]:
# Exemple :
mongo_user1 = {"_id": 2, "nom": "Karim", "email": "karim@example.com"}
mongo_user2 = {"_id": 3, "nom": "Lina", "email": "lina@example.com", "achats": [...]}

<h2><center><span style="color:red">Exemple de realisation de tp : en utilisant pymongo</span></h2>

In [37]:
# MongoDB Implementation: User and Product Management in E-commerce

## üìå Objective:
# This notebook demonstrates how to implement a simple e-commerce case study using MongoDB.
# We will store user data, product data, and their relationships (purchases) using MongoDB documents.

from pymongo import MongoClient
from bson.objectid import ObjectId

# Connect to MongoDB (assumes localhost MongoDB instance)
client = MongoClient("mongodb://localhost:27017/")
db = client["ecommerce"]

# Drop collections if they exist (for repeatability)
db.users.drop()
db.products.drop()

## üì¶ Sample Data Insertion

# Insert products
products = [
    {"_id": 1, "name": "Shoes", "price": 99.99},
    {"_id": 2, "name": "Bag", "price": 135.00},
    {"_id": 3, "name": "T-Shirt", "price": 25.50},
    {"_id": 4, "name": "Watch", "price": 220.00},
    {"_id": 5, "name": "Jeans", "price": 70.00},
    {"_id": 6, "name": "Jacket", "price": 120.00},
    {"_id": 7, "name": "Sunglasses", "price": 80.00},
    {"_id": 8, "name": "Perfume", "price": 60.00},
    {"_id": 9, "name": "Hat", "price": 30.00},
    {"_id": 10, "name": "Scarf", "price": 20.00},
]
db.products.insert_many(products)

# Insert users with embedded purchases
users = [
    {
        "_id": 1,
        "name": "Aya",
        "email": "aya@example.com",
        "purchases": [products[0], products[1]]
    },
    {
        "_id": 2,
        "name": "Yassine",
        "email": "yassine@example.com",
        "purchases": [products[2], products[3]]
    },
    {
        "_id": 3,
        "name": "Salma",
        "email": "salma@example.com",
        "purchases": [products[4]]
    },
    {
        "_id": 4,
        "name": "Omar",
        "email": "omar@example.com",
        "purchases": [products[5], products[6]]
    },
    {
        "_id": 5,
        "name": "Imane",
        "email": "imane@example.com",
        "purchases": [products[7]]
    },
    {
        "_id": 6,
        "name": "Ali",
        "email": "ali@example.com",
        "purchases": [products[8], products[9]]
    },
    {
        "_id": 7,
        "name": "Sara",
        "email": "sara@example.com",
        "purchases": []
    },
    {
        "_id": 8,
        "name": "Anas",
        "email": "anas@example.com",
        "purchases": [products[2]]
    },
    {
        "_id": 9,
        "name": "Nada",
        "email": "nada@example.com",
        "purchases": [products[1]]
    },
    {
        "_id": 10,
        "name": "Hicham",
        "email": "hicham@example.com",
        "purchases": [products[3], products[6]]
    },
]
db.users.insert_many(users)

## üîç Queries

# 1. Retrieve all purchases for user with _id = 5
user5 = db.users.find_one({"_id": 5})
print("User 5 Purchases:", user5["purchases"])

# 2. Add a new purchase to user 5 (e.g., product 4)
db.users.update_one(
    {"_id": 5},
    {"$push": {"purchases": products[3]}}
)

# 3. Check updated purchases
updated_user5 = db.users.find_one({"_id": 5})
print("Updated User 5 Purchases:", updated_user5["purchases"])

## ‚úÖ Answers to TP Questions ‚Äì MongoDB

# Q1: What does a user document with purchases look like?
example_user = db.users.find_one({"_id": 1})
print(example_user)

# Q2: What command adds a purchase to an existing document?
# -> db.users.update_one({"_id": 5}, {"$push": {"purchases": product}})

# Q3: Advantages of embedding purchases in the user document?
# - Fast read performance (no joins)
# - Simpler data model for nested data
# - Atomicity of operations on a single document

# Q4: What if purchases become too large?
# - Use referencing instead of embedding
# - Normalize: store purchases in a separate collection with user_id as reference

# Q5: Can documents have different structures?
# - Yes, MongoDB is schema-less
# - Example: one user may have a "phone" field, another may not


print("\nMongoDB TP Completed Successfully ")

User 5 Purchases: [{'_id': 8, 'name': 'Perfume', 'price': 60.0}]
Updated User 5 Purchases: [{'_id': 8, 'name': 'Perfume', 'price': 60.0}, {'_id': 4, 'name': 'Watch', 'price': 220.0}]
{'_id': 1, 'name': 'Aya', 'email': 'aya@example.com', 'purchases': [{'_id': 1, 'name': 'Shoes', 'price': 99.99}, {'_id': 2, 'name': 'Bag', 'price': 135.0}]}

MongoDB TP Completed Successfully

<style>
  .image-style {
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    width: 200px;
  }
</style>

<img src="Capture 4.png" alt="Logo stylis√©" class="image-style">